<h1>Meowtown Redux</h1>
<h2>~Welcome to Meowtown~</h2>

<ul>
  {{#each cats}}
  <li>
    <h3>Hello I am {{name}}!</h3>
    <h4>Lives: {{lives}}</h4>
    <img src= {{imgURL}} alt="kitteh" />
    <p>{{lifestory}}</p>
  </li>
  {{/each}}
</ul>
