<h1>Meowtown Redux</h1>
<p>~Welcome to Meowtown~</p>

<img src= {{imgURL}} alt="puss puss" />

<h3>Greetings hooman!  My name is {{name}}</h3>
<p>Some things about me: {{lifestory}}</p>
<p>{{lives}} remaining, please stop clicking me!</p>

<nav>
  <a class="link" href="#"><button type="button" name="new_cat">Make a Kitty</button></a>
  <a class="link" href="#"><button type="button" name="edit_cat">Change this Kitty</button></a>
  <a class="link" href="#"><button type="button" name="help">WTF is this?</button></a>
</nav>
