<!DOCTYPE html>
<html>
  <head>
    <title>Meowtown Redux</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://cattree.uk/wp-content/uploads/2016/03/favicon-1.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
